img {
    height:  40px;
    width: 45px;
}

body {
    background-color: #383b6d;
    padding: 10px;
}

.nav_bar {
    margin: 0;
    background-color: #2b2c49;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}