#steam_icon {
    height:  80px;
    width: 80px;
}

* {
    color: white;
    font-size: 20px;
}

body {
    background-color: #383b6d;
    padding: 0;
    box-shadow: 0 0 5px #232544;
}

.nav_bar {
    margin: 0;
    background-color: #494c99;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 80px;
}

#main {
    border-radius: 3px;
    background-color: #373853;
    box-shadow: 0 0 5px #00000083;
    width: 900px;
    margin: 0;
}

#username {
    text-align: center;
    font-size: 24px;
}